.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: minmax(360px, auto) minmax(155px, auto);
  gap: 50px;


  /* grid-template-columns: 200px 450px;
  grid-auto-rows: minmax(50px, auto);
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  justify-content: center;
  align-content: center;
  height: 100vh; */
  /* grid-template-areas: 
    "header header"
    "sidebar content"; */
}

.grid-item-1 {
  grid-column: span 2;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
 }

.main-photo {
  width: 100%;
}

.bordered-photo {
  display: block;
  border: 1px solid #ACACAC;
  border-radius: 20px;
}

/* .grid-item-1 {
  grid-column-start: 1;
  grid-column-end: -1;
}

.grid-item-2 {
  grid-row-start: 2;
  grid-row-end: 4;
}

.grid-item-3 {
  grid-row: 2 / 4;
}

.grid-item-4 {
  grid-column: span 2;
} */

/* .grid-item {
  border: 1px solid #000;
} */